---
---

* {
  padding: 0px;
  margin: 0px;
} 

body {
  font-family: sans-serif;
}

$padding-rythm: 55px;

nav#top-nav {
  $header-height: 30px;
  $text-height: 15px;
  $inside-color: #c5c5c5;

  background-color: #0067a5;
  height: $header-height;
  text-align: center;

  overflow: hidden;

  > a {
    $padding: ($header-height - $text-height) / 2;
    padding-top: $padding;
    padding-bottom: $padding;
    padding-right: 20px;
    padding-left: 20px;
    line-height: $text-height;
    font-size: $text-height;
    display: inline-block;
    text-decoration: none;
    color: $inside-color;

    &.selected {
      $border: 2px;
      border-bottom: $border;
      border-bottom-style: solid;
      border-color: $inside-color;
      padding-bottom: $padding - $border;
    }
  }
}

header#main-header {
  background: #1487cc;
  text-align: center;
  color: white;
  font-family: monospace;
  padding-top: $padding-rythm;
  padding-bottom: $padding-rythm;

  > .inner {
    max-width: 600px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    $height: 120px;

    > .left {
      overflow: hidden;
      float: left;

      img.logo {
        float: left;
        width: $height;
      }
      
      span.name {
        float: left;
        line-height: $height;
        font-size: 25px;
      }
    }

    > .right {
      float: right;
      overflow: hidden;
      font-size: 20px;
      color: #cecece;
      line-height: $height / 4;

      span {
        float: left;
        margin-right: 5px;
      }

      div.floater {
        display: inline-block;
        text-align: left;
      }
    }
  }
}

div#description {
  padding-top: $padding-rythm;
  padding-bottom: $padding-rythm;
  text-align: center;
  overflow: hidden;

  div.inner {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    max-width: 600px;

    p {
      font-size: 18px;
      margin-bottom: 10px;

      span.em {
        font-style: oblique;
      }
    }
  }

  div.links {
    a.button {
      $color: #059e05;
      $action-color: #00b600;

      clear: right;
      display: inline-block;
      margin: 10px;
      margin-bottom: 0;

      border-color: $color;
      border-width: 3px;
      border-radius:12px;
      border-style: solid;

      background-color: $color;

      cursor:pointer;
      color: #ffffff;
      font-size:17px;
      padding:5px 20px;
      text-decoration:none;

      &:hover { 
        background-color: $action-color;
        border-color: $action-color;
      }

      &:active { 
        position:relative;
        top:1px;
      }
    }
  }
}

div#tiles {
  padding-top: $padding-rythm;
  background-color: #edf6fa;
  text-align: center;
  overflow: hidden;
}

div#tiles-inner {
  display: inline-block;
  max-width: 1300px;

  div.tile {
    margin: 20px;
    margin-top: 0;
    margin-bottom: 40px;
    display: inline-block;
    width: 300px;

    > img {
      width: 50px;
      margin-bottom: 10px;
    }

    > header {
      font-size: 25px;
      margin-bottom: 10px;
    }

    > p {
      font-size: 15px;
      text-align: left;
    }
  }
}

