---
---

* {
  padding: 0px;
  margin: 0px;
} 

body {
  font-family: sans-serif;
}

nav#top-nav {
  $header-height: 30px;
  $text-height: 15px;
  $inside-color: #181818;

  padding-left: 100px;
  background-color: #0e6396;
  height: $header-height;

  overflow: hidden;

  > a {
    $padding: ($header-height - $text-height) / 2;
    padding-top: $padding;
    padding-bottom: $padding;
    padding-right: 20px;
    padding-left: 20px;
    line-height: $text-height;
    font-size: $text-height;
    display: inline-block;
    text-decoration: none;
    color: $inside-color;

    &.selected {
      $border: 2px;
      border-bottom: $border;
      border-bottom-style: solid;
      border-color: $inside-color;
      padding-bottom: $padding - $border;
    }
  }
}

header#main-header {
  height: 150px;
  background: #1487cc;
  padding-top: 80px;
  text-align: center;
  color: white;
  font-family: monospace;

  > .inner {
    width: 100%;
    max-width: 600px;
    display: inline-block;

    > .left {
      $height: 100px;
      overflow: hidden;
      float: left;

      img.logo {
        float: left;
        width: $height;
      }
      
      span.name {
        float: left;
        line-height: $height;
        font-size: 25px;
      }
    }

    > .right {
      float: right;
      overflow: hidden;
      font-size: 20px;
      color: #cecece;

      span {
        float: left;
        margin-right: 5px;
      }

      div.floater {
        display: inline-block;
        text-align: left;
      }
    }
  }
}

div#description {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  overflow: hidden;

  p {
    font-size: 18px;

    &.big {
      padding-top: 15px;
      padding-bottom: 10px;
      font-size: 25px;
    }

    a.button {
      $color: green;
      $action-color: green;

      clear: right;
      display: inline-block;
      margin: 10px;
      margin-bottom: 0;

      border-color: $color;
      border-width: 3px;
      border-radius:12px;
      border-style: solid;

      background-color: $color;

      cursor:pointer;
      color: #ffffff;
      font-size:17px;
      padding:5px 20px;
      text-decoration:none;

      &:hover { 
              background-color: $action-color;
              border-color: $action-color;
      }

      &:active { 
              position:relative;
              top:1px;
      }
    }
  }
}

div#tiles {
  padding-top: 40px;
  height: 500px;
  background-color: #edf6fa;
  text-align: center;

  div.tile {
    padding: 10px;
    display: inline-block;
    width: 400px;

    > img {
      width: 50px;
      margin-bottom: 20px;
    }

    > header {
      font-size: 25px;
      padding-bottom: 5px;
    }

    > p {
      font-size: 15px;
      text-align: left;
    }
  }
}

a.github-link {
  text-decoration: none;

  > .icon {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
  }

  > .username {
    color: grey;
    font-size: 25px;
  }
}

