---
layout: compress
---

<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}"> 

    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
  </head>

  <body>

    <div id="site">

      <nav id="top-nav">
        <a href="/" 
           {% if page.url == "/" %}class="selected"{% endif %}> 
          solemnsky 
        </a><a href="/about/"
           {% if page.url == "/about/" %}class="selected"{% endif %}> 
          about 
        </a><a href="/blog/"
           {% if page.url == "/blog/" %}class="selected"{% endif %}> 
          blog </a>
      </nav>

      {{ content }}

      <footer id="end-footer">
        <div class="contents">
          <p> solemnsky, the open-source competitive multiplayer plane game </p>
          <p> Copyright (C) 2016 Chris Gadzinski </p>
        </div>
      </footer>

    </div>

  </body>

</html>
